.career-main {
	width: 100%;
	/* margin-top: 150px; */
	padding-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.career-main .career-section {
	/* width: 70%; */
	/* min-width: 650px; */
	max-width: 1000px;
	/* padding: 100px; */
	padding: 0px 20px;
}

.career-main .career-section .career-header {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.career-main .career-section .career-header .text {
	font-size: 1.4rem;
	font-weight: 600;
	padding: 5px 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid var(--main-color);
	border-bottom: 0px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	/* color: var(--main-color); */
}

.career-main .career-section .header-line {
	width: 100%;
	height: 4px;
	background-color: var(--main-color);
	border-radius: 20px;
	/* margin-top: 5px; */
}

.career-main .career-section .professional-summary .texts {
	margin-top: 20px;
	font-size: 1.05rem;
	font-weight: 500;
	text-align: justify;
}

.career-main .career-section .career-goals {
	margin-top: 50px;
}

.career-main .career-section .career-goals .goals {
	margin-top: 25px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 20px;
}

.career-main .career-section .career-goals .goals-row {
	width: 100%;
	max-width: 380px;
	min-width: 250px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.career-main .career-section .career-goals .goals-row .goals-header {
	width: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.career-main .career-section .career-goals .goals-row .header-line {
	width: 100%;
	height: 4px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.career-main .career-section .career-goals .goals-row .goals-header .text {
	font-size: 1.2rem;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
	/* color: var(--main-color); */
}

.career-main .career-section .career-goals .goals-row .texts {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.career-main .career-section .career-goals .goals-row .text-row {
	min-height: 62.8px;
	font-size: 1.05rem;
	font-weight: 500;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.career-main .career-section .career-goals .goals-row .text-row .tr-icon {
	margin-right: 10px;
	min-width: 16.8px;
	min-height: 16.8px;
	border-radius: 50%;
	background-color: var(--text-color);
}

