.skills-main {
	width: 100%;
	/* height: fit-content; */
	padding-top: 95px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-main .skills-section {
	width: 1000px;
	/* margin-bottom: -40px; */
}

.skills-main .skills-section .header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.skills-main .skills-section .header .text {
	font-size: 1.5rem;
	font-weight: 600;
}

.skills-main .skills-section .header .border-line {
	width: 140px;
	height: 4px;
	border-radius: 100px;
	background-color: var(--main-color);
}

.skills-main .skills-section .skills {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 50px;
}

.skills-main .skills-section .skills .skills-group-row {
	/* width: 40%; */
	width: 400px;
	/* min-width: 300px; */
	border: 2px solid #ccc;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

@media (max-width: 700px) {
	.skills-main .skills-section .skills .skills-group-row {
		width: 85%;
		min-width: 250px;
	}
}

.skills-main .skills-section .skills .skills-group-row .skills-group-header {
	width: fit-content;
	font-size: 1.35rem;
	font-weight: 600;
	color: var(--text-color);
	/* margin-top: 20px; */
	margin-left: auto;
	margin-right: auto;
}

.skills-main .skills-section .skills-group-row .border-line {
	width: 100%;
	height: 4px;
	border-radius: 100px;
	background-color: var(--main-color);
	margin-top: 5px;
	margin-bottom: 25px;
}

.skills-main .skills-section .skills-group-row .skill {
	/* width: 100%; */
	/* height: 100px; */
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
}

.skills-main .skills-section .skills-group-row .skill-block {
	width: 100%;
	padding-left: 10px;
}

.skills-main .skills-section .skills-group-row .icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-main .skills-section .skills-group-row .icon-img {
	width: 55px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: var(--text-color);
	border: 3px solid var(--main-color);
	border-radius: 25%;
}

.skills-main .skills-section .skills-group-row .progress-block {
	width: fit-content;
	height: fit-content;
	padding: 0px 5px;
	border-radius: 50px;
	margin-top: 5px;
	margin-left: 50%;
	transform: translate(-20px, 0px);
	background-color: var(--main-color);
	color: white;
	font-size: 0.8em;
}

.skills-main .skills-section .skills-group-row .progress-bar {
	width: 100%;
	height: 7px;
	margin-top: 5px;
	background: gray;
	border-radius: 20px;
}

.skills-main .skills-section .skills-group-row .progress-per {
	width: 50%;
	height: 7px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.skills-main .skills-section .skills-group-row .block-header {
	color: var(--text-color);
	/* font-size: 1.05rem; */
	font-weight: 600;
}

.skills-main .skills-section .skills-group-row .block-section {
	font-size: 0.85rem;
	font-weight: 600;
}

.skills-main .skills-section .skills-group-row .html .progress-block {
	margin-left: 70%;
}

.skills-main .skills-section .skills-group-row .html .progress-per {
	width: 70%;
}

.skills-main .skills-section .skills-group-row .css .progress-block {
	margin-left: 60%;
}

.skills-main .skills-section .skills-group-row .css .progress-per {
	width: 60%;
}

.skills-main .skills-section .skills-group-row .js .progress-block {
	margin-left: 50%;
}

.skills-main .skills-section .skills-group-row .js .progress-per {
	width: 50%;
}

.skills-main .skills-section .skills-group-row .python .progress-block {
	margin-left: 55%;
}

.skills-main .skills-section .skills-group-row .python .progress-per {
	width: 55%;
}

.skills-main .skills-section .skills-group-row .communication .progress-block {
	margin-left: 85%;
}

.skills-main .skills-section .skills-group-row .communication .progress-per {
	width: 85%;
}

.skills-main .skills-section .skills-group-row .team-work .progress-block {
	margin-left: 70%;
}

.skills-main .skills-section .skills-group-row .team-work .progress-per {
	width: 70%;
}

.skills-main .skills-section .skills-group-row .management .progress-block {
	margin-left: 65%;
}

.skills-main .skills-section .skills-group-row .management .progress-per {
	width: 65%;
}

.skills-main .skills-section .skills-group-row .creativity .progress-block {
	margin-left: 80%;
}

.skills-main .skills-section .skills-group-row .creativity .progress-per {
	width: 80%;
}

